<a href="https://colab.research.google.com/github/CindhyClau/project1-kel-4/blob/main/UTS_KB_Cindhy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

import pandas dan masukan file yang sudah di download

In [ ]:
import pandas as pd

In [ ]:
from google.colab import files

In [ ]:
files.upload()

Saving my_file (1) (1).csv to my_file (1) (1).csv

{'my_file (1) (1).csv': b'Rank,Peak,All Time Peak,Actual\xc2\xa0gross,Adjusted\xc2\xa0gross (in 2022 dollars),Artist,Tour title,Year(s),Shows,Average gross,Ref.\n1,1,2,"$780,000,000","$780,000,000",Taylor Swift,The Eras Tour \xe2\x80\xa0,2023\xe2\x80\x932024,56,"$13,928,571",[1]\n2,1,7[2],"$579,800,000","$579,800,000",Beyonc\xc3\xa9,Renaissance World Tour,2023,56,"$10,353,571",[3]\n3,1[4],2[5],"$411,000,000","$560,622,615",Madonna,Sticky & Sweet Tour \xe2\x80\xa1[4][a],2008\xe2\x80\x932009,85,"$4,835,294",[6]\n4,2[7],10[7],"$397,300,000","$454,751,555",Pink,Beautiful Trauma World Tour,2018\xe2\x80\x932019,156,"$2,546,795",[7]\n5,2[4],,"$345,675,146","$402,844,849",Taylor Swift,Reputation Stadium Tour,2018,53,"$6,522,173",[8]\n6,2[4],10[9],"$305,158,363","$388,978,496",Madonna,The MDNA Tour,2012,88,"$3,467,709",[9]\n7,2[10],,"$280,000,000","$381,932,682",Celine Dion,Taking Chances World Tour,2008\xe2\x80\x932009,131,"$2,137,405",[11]\n7,,,"$257,600,000","$257,600,000",Pink,Summer Carnival \xe2\x80\xa0,2023\xe2\x80\x932024,41,"$6,282,927",[12]\n9,,,"$256,084,556","$312,258,401",Beyonc\xc3\xa9,The Formation World Tour,2016,49,"$5,226,215",[13]\n10,,,"$250,400,000","$309,141,878",Taylor Swift,The 1989 World Tour,2015,85,"$2,945,882",[14]\n11,,,"$229,100,000[b]","$283,202,896",Beyonc\xc3\xa9,The Mrs. Carter Show World Tour,2013\xe2\x80\x932014,132,"$1,735,606",[15][16]\n12,,14[17],"$227,400,000","$295,301,479",Lady Gaga,The Monster Ball Tour *,2009\xe2\x80\x932011,203,"$1,118,227",[18]\n13,,,"$204,000,000","$251,856,802",Katy Perry,Prismatic World Tour,2014\xe2\x80\x932015,151,"$1,350,993",[19]\n14,1[20],,"$200,000,000","$299,676,265",Cher,Living Proof: The Farewell Tour \xe2\x80\xa1[21][a],2002\xe2\x80\x932005,325,"$615,385",[20]\n15,2[c],,"$194,000,000","$281,617,035",Madonna,Confessions Tour,2006,60,"$3,233,333",[5]\n16,,,"$184,000,000","$227,452,347",Pink,The Truth About Love Tour,2013\xe2\x80\x932014,142,"$1,295,775",[22]\n17,,,"$170,000,000","$213,568,571",Lady Gaga,Born This Way Ball,2012\xe2\x80\x932013,98,"$1,734,694",[d]\n18,,,"$169,800,000","$207,046,755",Madonna,Rebel Heart Tour,2015\xe2\x80\x932016,82,"$2,070,732",[4]\n19,,,"$167,700,000[e]","$204,486,106",Adele,Adele Live 2016,2016\xe2\x80\x932017,121,"$1,385,950",[25]\n20,,,"$150,000,000","$185,423,109",Taylor Swift,The Red Tour,2013\xe2\x80\x932014,86,"$1,744,186",[26]\n'}

Untuk membaca file dan menampilkan file

In [ ]:
df = pd.read_csv('my_file (1) (1).csv')
df

,Rank,Peak,All Time Peak,Actual gross,Adjusted gross (in 2022 dollars),Artist,Tour title,Year(s),Shows,Average gross,Ref.
0,1,1,2,"$780,000,000","$780,000,000",Taylor Swift,The Eras Tour †,2023–2024,56,"$13,928,571",[1]
1,2,1,7[2],"$579,800,000","$579,800,000",Beyoncé,Renaissance World Tour,2023,56,"$10,353,571",[3]
2,3,1[4],2[5],"$411,000,000","$560,622,615",Madonna,Sticky & Sweet Tour ‡[4][a],2008–2009,85,"$4,835,294",[6]
3,4,2[7],10[7],"$397,300,000","$454,751,555",Pink,Beautiful Trauma World Tour,2018–2019,156,"$2,546,795",[7]
4,5,2[4],NaN,"$345,675,146","$402,844,849",Taylor Swift,Reputation Stadium Tour,2018,53,"$6,522,173",[8]
5,6,2[4],10[9],"$305,158,363","$388,978,496",Madonna,The MDNA Tour,2012,88,"$3,467,709",[9]
6,7,2[10],NaN,"$280,000,000","$381,932,682",Celine Dion,Taking Chances World Tour,2008–2009,131,"$2,137,405",[11]
7,7,NaN,NaN,"$257,600,000","$257,600,000",Pink,Summer Carnival †,2023–2024,41,"$6,282,927",[12]
8,9,NaN,NaN,"$256,084,556","$312,258,401",Beyoncé,The Formation World Tour,2016,49,"$5,226,215",[13]
9,10,NaN,NaN,"$250,400,000","$309,141,878",Taylor Swift,The 1989 World Tour,2015,85,"$2,945,882",[14]
10,11,NaN,NaN,"$229,100,000[b]","$283,202,896",Beyoncé,The Mrs. Carter Show World Tour,2013–2014,132,"$1,735,606",[15][16]
11,12,NaN,14[17],"$227,400,000","$295,301,479",Lady Gaga,The Monster Ball Tour *,2009–2011,203,"$1,118,227",[18]
12,13,NaN,NaN,"$204,000,000","$251,856,802",Katy Perry,Prismatic World Tour,2014–2015,151,"$1,350,993",[19]
13,14,1[20],NaN,"$200,000,000","$299,676,265",Cher,Living Proof: The Farewell Tour ‡[21][a],2002–2005,325,"$615,385",[20]
14,15,2[c],NaN,"$194,000,000","$281,617,035",Madonna,Confessions Tour,2006,60,"$3,233,333",[5]
15,16,NaN,NaN,"$184,000,000","$227,452,347",Pink,The Truth About Love Tour,2013–2014,142,"$1,295,775",[22]
16,17,NaN,NaN,"$170,000,000","$213,568,571",Lady Gaga,Born This Way Ball,2012–2013,98,"$1,734,694",[d]
17,18,NaN,NaN,"$169,800,000","$207,046,755",Madonna,Rebel Heart Tour,2015–2016,82,"$2,070,732",[4]
18,19,NaN,NaN,"$167,700,000[e]","$204,486,106",Adele,Adele Live 2016,2016–2017,121,"$1,385,950",[25]
19,20,NaN,NaN,"$150,000,000","$185,423,109",Taylor Swift,The Red Tour,2013–2014,86,"$1,744,186",[26]

Untuk menampilkan ringkasan informasi tentang data

In [ ]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 11 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Rank                              20 non-null     int64
 1   Peak                              9 non-null      object
 2   All Time Peak                     6 non-null      object
 3   Actual gross                      20 non-null     object
 4   Adjusted gross (in 2022 dollars)  20 non-null     object
 5   Artist                            20 non-null     object
 6   Tour title                        20 non-null     object
 7   Year(s)                           20 non-null     object
 8   Shows                             20 non-null     int64
 9   Average gross                     20 non-null     object
 10  Ref.                              20 non-null     object
dtypes: int64(2), object(9)
memory usage: 1.8+ KB
None

In [ ]:
df

,Rank,Peak,All Time Peak,Actual gross,Adjusted gross (in 2022 dollars),Artist,Tour title,Year(s),Shows,Average gross,Ref.
0,1,1,2,"$780,000,000","$780,000,000",Taylor Swift,The Eras Tour †,2023–2024,56,"$13,928,571",[1]
1,2,1,7[2],"$579,800,000","$579,800,000",Beyoncé,Renaissance World Tour,2023,56,"$10,353,571",[3]
2,3,1[4],2[5],"$411,000,000","$560,622,615",Madonna,Sticky & Sweet Tour ‡[4][a],2008–2009,85,"$4,835,294",[6]
3,4,2[7],10[7],"$397,300,000","$454,751,555",Pink,Beautiful Trauma World Tour,2018–2019,156,"$2,546,795",[7]
4,5,2[4],NaN,"$345,675,146","$402,844,849",Taylor Swift,Reputation Stadium Tour,2018,53,"$6,522,173",[8]
5,6,2[4],10[9],"$305,158,363","$388,978,496",Madonna,The MDNA Tour,2012,88,"$3,467,709",[9]
6,7,2[10],NaN,"$280,000,000","$381,932,682",Celine Dion,Taking Chances World Tour,2008–2009,131,"$2,137,405",[11]
7,7,NaN,NaN,"$257,600,000","$257,600,000",Pink,Summer Carnival †,2023–2024,41,"$6,282,927",[12]
8,9,NaN,NaN,"$256,084,556","$312,258,401",Beyoncé,The Formation World Tour,2016,49,"$5,226,215",[13]
9,10,NaN,NaN,"$250,400,000","$309,141,878",Taylor Swift,The 1989 World Tour,2015,85,"$2,945,882",[14]
10,11,NaN,NaN,"$229,100,000[b]","$283,202,896",Beyoncé,The Mrs. Carter Show World Tour,2013–2014,132,"$1,735,606",[15][16]
11,12,NaN,14[17],"$227,400,000","$295,301,479",Lady Gaga,The Monster Ball Tour *,2009–2011,203,"$1,118,227",[18]
12,13,NaN,NaN,"$204,000,000","$251,856,802",Katy Perry,Prismatic World Tour,2014–2015,151,"$1,350,993",[19]
13,14,1[20],NaN,"$200,000,000","$299,676,265",Cher,Living Proof: The Farewell Tour ‡[21][a],2002–2005,325,"$615,385",[20]
14,15,2[c],NaN,"$194,000,000","$281,617,035",Madonna,Confessions Tour,2006,60,"$3,233,333",[5]
15,16,NaN,NaN,"$184,000,000","$227,452,347",Pink,The Truth About Love Tour,2013–2014,142,"$1,295,775",[22]
16,17,NaN,NaN,"$170,000,000","$213,568,571",Lady Gaga,Born This Way Ball,2012–2013,98,"$1,734,694",[d]
17,18,NaN,NaN,"$169,800,000","$207,046,755",Madonna,Rebel Heart Tour,2015–2016,82,"$2,070,732",[4]
18,19,NaN,NaN,"$167,700,000[e]","$204,486,106",Adele,Adele Live 2016,2016–2017,121,"$1,385,950",[25]
19,20,NaN,NaN,"$150,000,000","$185,423,109",Taylor Swift,The Red Tour,2013–2014,86,"$1,744,186",[26]

Untuk mencari duplikat dan untuk menghapus duplikat

In [ ]:
df.drop_duplicates(inplace=True)
df

,Rank,Peak,All Time Peak,Actual gross,Adjusted gross (in 2022 dollars),Artist,Tour title,Year(s),Shows,Average gross,Ref.
0,1,1,2,"$780,000,000","$780,000,000",Taylor Swift,The Eras Tour †,2023–2024,56,"$13,928,571",[1]
1,2,1,7[2],"$579,800,000","$579,800,000",Beyoncé,Renaissance World Tour,2023,56,"$10,353,571",[3]
2,3,1[4],2[5],"$411,000,000","$560,622,615",Madonna,Sticky & Sweet Tour ‡[4][a],2008–2009,85,"$4,835,294",[6]
3,4,2[7],10[7],"$397,300,000","$454,751,555",Pink,Beautiful Trauma World Tour,2018–2019,156,"$2,546,795",[7]
4,5,2[4],NaN,"$345,675,146","$402,844,849",Taylor Swift,Reputation Stadium Tour,2018,53,"$6,522,173",[8]
5,6,2[4],10[9],"$305,158,363","$388,978,496",Madonna,The MDNA Tour,2012,88,"$3,467,709",[9]
6,7,2[10],NaN,"$280,000,000","$381,932,682",Celine Dion,Taking Chances World Tour,2008–2009,131,"$2,137,405",[11]
7,7,NaN,NaN,"$257,600,000","$257,600,000",Pink,Summer Carnival †,2023–2024,41,"$6,282,927",[12]
8,9,NaN,NaN,"$256,084,556","$312,258,401",Beyoncé,The Formation World Tour,2016,49,"$5,226,215",[13]
9,10,NaN,NaN,"$250,400,000","$309,141,878",Taylor Swift,The 1989 World Tour,2015,85,"$2,945,882",[14]
10,11,NaN,NaN,"$229,100,000[b]","$283,202,896",Beyoncé,The Mrs. Carter Show World Tour,2013–2014,132,"$1,735,606",[15][16]
11,12,NaN,14[17],"$227,400,000","$295,301,479",Lady Gaga,The Monster Ball Tour *,2009–2011,203,"$1,118,227",[18]
12,13,NaN,NaN,"$204,000,000","$251,856,802",Katy Perry,Prismatic World Tour,2014–2015,151,"$1,350,993",[19]
13,14,1[20],NaN,"$200,000,000","$299,676,265",Cher,Living Proof: The Farewell Tour ‡[21][a],2002–2005,325,"$615,385",[20]
14,15,2[c],NaN,"$194,000,000","$281,617,035",Madonna,Confessions Tour,2006,60,"$3,233,333",[5]
15,16,NaN,NaN,"$184,000,000","$227,452,347",Pink,The Truth About Love Tour,2013–2014,142,"$1,295,775",[22]
16,17,NaN,NaN,"$170,000,000","$213,568,571",Lady Gaga,Born This Way Ball,2012–2013,98,"$1,734,694",[d]
17,18,NaN,NaN,"$169,800,000","$207,046,755",Madonna,Rebel Heart Tour,2015–2016,82,"$2,070,732",[4]
18,19,NaN,NaN,"$167,700,000[e]","$204,486,106",Adele,Adele Live 2016,2016–2017,121,"$1,385,950",[25]
19,20,NaN,NaN,"$150,000,000","$185,423,109",Taylor Swift,The Red Tour,2013–2014,86,"$1,744,186",[26]

Untuk mengidentifikasi dan mengisi nilai yang hilang (NaN)pada kolom Peak menjadi Unknown

In [ ]:
df.isnull().sum()
df['Peak']=df['Peak'].astype(str)
df['Peak']=df['Peak'].replace('NaN','Unknown')
df

,Rank,Peak,All Time Peak,Actual gross,Adjusted gross (in 2022 dollars),Artist,Tour title,Year(s),Shows,Average gross,Ref.
0,1,1,2,"$780,000,000","$780,000,000",Taylor Swift,The Eras Tour †,2023–2024,56,"$13,928,571",[1]
1,2,1,7[2],"$579,800,000","$579,800,000",Beyoncé,Renaissance World Tour,2023,56,"$10,353,571",[3]
2,3,1[4],2[5],"$411,000,000","$560,622,615",Madonna,Sticky & Sweet Tour ‡[4][a],2008–2009,85,"$4,835,294",[6]
3,4,2[7],10[7],"$397,300,000","$454,751,555",Pink,Beautiful Trauma World Tour,2018–2019,156,"$2,546,795",[7]
4,5,2[4],NaN,"$345,675,146","$402,844,849",Taylor Swift,Reputation Stadium Tour,2018,53,"$6,522,173",[8]
5,6,2[4],10[9],"$305,158,363","$388,978,496",Madonna,The MDNA Tour,2012,88,"$3,467,709",[9]
6,7,2[10],NaN,"$280,000,000","$381,932,682",Celine Dion,Taking Chances World Tour,2008–2009,131,"$2,137,405",[11]
7,7,Unknown,NaN,"$257,600,000","$257,600,000",Pink,Summer Carnival †,2023–2024,41,"$6,282,927",[12]
8,9,Unknown,NaN,"$256,084,556","$312,258,401",Beyoncé,The Formation World Tour,2016,49,"$5,226,215",[13]
9,10,Unknown,NaN,"$250,400,000","$309,141,878",Taylor Swift,The 1989 World Tour,2015,85,"$2,945,882",[14]
10,11,Unknown,NaN,"$229,100,000[b]","$283,202,896",Beyoncé,The Mrs. Carter Show World Tour,2013–2014,132,"$1,735,606",[15][16]
11,12,Unknown,14[17],"$227,400,000","$295,301,479",Lady Gaga,The Monster Ball Tour *,2009–2011,203,"$1,118,227",[18]
12,13,Unknown,NaN,"$204,000,000","$251,856,802",Katy Perry,Prismatic World Tour,2014–2015,151,"$1,350,993",[19]
13,14,1[20],NaN,"$200,000,000","$299,676,265",Cher,Living Proof: The Farewell Tour ‡[21][a],2002–2005,325,"$615,385",[20]
14,15,2[c],NaN,"$194,000,000","$281,617,035",Madonna,Confessions Tour,2006,60,"$3,233,333",[5]
15,16,Unknown,NaN,"$184,000,000","$227,452,347",Pink,The Truth About Love Tour,2013–2014,142,"$1,295,775",[22]
16,17,Unknown,NaN,"$170,000,000","$213,568,571",Lady Gaga,Born This Way Ball,2012–2013,98,"$1,734,694",[d]
17,18,Unknown,NaN,"$169,800,000","$207,046,755",Madonna,Rebel Heart Tour,2015–2016,82,"$2,070,732",[4]
18,19,Unknown,NaN,"$167,700,000[e]","$204,486,106",Adele,Adele Live 2016,2016–2017,121,"$1,385,950",[25]
19,20,Unknown,NaN,"$150,000,000","$185,423,109",Taylor Swift,The Red Tour,2013–2014,86,"$1,744,186",[26]

Untuk mengidentifikasi dan mengisi nilai yang hilang (NaN)pada kolom All Time Peak menjadi Unknown

In [ ]:
df.isnull().sum()
df['All Time Peak']=df['Peak'].astype(str)
df['All Time Peak']=df['Peak'].replace('NaN','Unknown')
df

,Rank,Peak,All Time Peak,Actual gross,Adjusted gross (in 2022 dollars),Artist,Tour title,Year(s),Shows,Average gross,Ref.
0,1,1,1,"$780,000,000","$780,000,000",Taylor Swift,The Eras Tour †,2023–2024,56,"$13,928,571",[1]
1,2,1,1,"$579,800,000","$579,800,000",Beyoncé,Renaissance World Tour,2023,56,"$10,353,571",[3]
2,3,1[4],1[4],"$411,000,000","$560,622,615",Madonna,Sticky & Sweet Tour ‡[4][a],2008–2009,85,"$4,835,294",[6]
3,4,2[7],2[7],"$397,300,000","$454,751,555",Pink,Beautiful Trauma World Tour,2018–2019,156,"$2,546,795",[7]
4,5,2[4],2[4],"$345,675,146","$402,844,849",Taylor Swift,Reputation Stadium Tour,2018,53,"$6,522,173",[8]
5,6,2[4],2[4],"$305,158,363","$388,978,496",Madonna,The MDNA Tour,2012,88,"$3,467,709",[9]
6,7,2[10],2[10],"$280,000,000","$381,932,682",Celine Dion,Taking Chances World Tour,2008–2009,131,"$2,137,405",[11]
7,7,Unknown,Unknown,"$257,600,000","$257,600,000",Pink,Summer Carnival †,2023–2024,41,"$6,282,927",[12]
8,9,Unknown,Unknown,"$256,084,556","$312,258,401",Beyoncé,The Formation World Tour,2016,49,"$5,226,215",[13]
9,10,Unknown,Unknown,"$250,400,000","$309,141,878",Taylor Swift,The 1989 World Tour,2015,85,"$2,945,882",[14]
10,11,Unknown,Unknown,"$229,100,000[b]","$283,202,896",Beyoncé,The Mrs. Carter Show World Tour,2013–2014,132,"$1,735,606",[15][16]
11,12,Unknown,Unknown,"$227,400,000","$295,301,479",Lady Gaga,The Monster Ball Tour *,2009–2011,203,"$1,118,227",[18]
12,13,Unknown,Unknown,"$204,000,000","$251,856,802",Katy Perry,Prismatic World Tour,2014–2015,151,"$1,350,993",[19]
13,14,1[20],1[20],"$200,000,000","$299,676,265",Cher,Living Proof: The Farewell Tour ‡[21][a],2002–2005,325,"$615,385",[20]
14,15,2[c],2[c],"$194,000,000","$281,617,035",Madonna,Confessions Tour,2006,60,"$3,233,333",[5]
15,16,Unknown,Unknown,"$184,000,000","$227,452,347",Pink,The Truth About Love Tour,2013–2014,142,"$1,295,775",[22]
16,17,Unknown,Unknown,"$170,000,000","$213,568,571",Lady Gaga,Born This Way Ball,2012–2013,98,"$1,734,694",[d]
17,18,Unknown,Unknown,"$169,800,000","$207,046,755",Madonna,Rebel Heart Tour,2015–2016,82,"$2,070,732",[4]
18,19,Unknown,Unknown,"$167,700,000[e]","$204,486,106",Adele,Adele Live 2016,2016–2017,121,"$1,385,950",[25]
19,20,Unknown,Unknown,"$150,000,000","$185,423,109",Taylor Swift,The Red Tour,2013–2014,86,"$1,744,186",[26]

Untuk membersikan data pada kolom Peak dengan menghapus angka yang di apit oleh tanda kurung siku([])

In [ ]:
df['Peak'] = df['Peak'].str.replace(r'\[\d+\]', '', regex=True).astype(str)
df

,Rank,Peak,All Time Peak,Actual gross,Adjusted gross (in 2022 dollars),Artist,Tour title,Year(s),Shows,Average gross,Ref.
0,1,1,1,"$780,000,000","$780,000,000",Taylor Swift,The Eras Tour †,2023–2024,56,"$13,928,571",[1]
1,2,1,1,"$579,800,000","$579,800,000",Beyoncé,Renaissance World Tour,2023,56,"$10,353,571",[3]
2,3,1,1[4],"$411,000,000","$560,622,615",Madonna,Sticky & Sweet Tour ‡[4][a],2008–2009,85,"$4,835,294",[6]
3,4,2,2[7],"$397,300,000","$454,751,555",Pink,Beautiful Trauma World Tour,2018–2019,156,"$2,546,795",[7]
4,5,2,2[4],"$345,675,146","$402,844,849",Taylor Swift,Reputation Stadium Tour,2018,53,"$6,522,173",[8]
5,6,2,2[4],"$305,158,363","$388,978,496",Madonna,The MDNA Tour,2012,88,"$3,467,709",[9]
6,7,2,2[10],"$280,000,000","$381,932,682",Celine Dion,Taking Chances World Tour,2008–2009,131,"$2,137,405",[11]
7,7,Unknown,Unknown,"$257,600,000","$257,600,000",Pink,Summer Carnival †,2023–2024,41,"$6,282,927",[12]
8,9,Unknown,Unknown,"$256,084,556","$312,258,401",Beyoncé,The Formation World Tour,2016,49,"$5,226,215",[13]
9,10,Unknown,Unknown,"$250,400,000","$309,141,878",Taylor Swift,The 1989 World Tour,2015,85,"$2,945,882",[14]
10,11,Unknown,Unknown,"$229,100,000[b]","$283,202,896",Beyoncé,The Mrs. Carter Show World Tour,2013–2014,132,"$1,735,606",[15][16]
11,12,Unknown,Unknown,"$227,400,000","$295,301,479",Lady Gaga,The Monster Ball Tour *,2009–2011,203,"$1,118,227",[18]
12,13,Unknown,Unknown,"$204,000,000","$251,856,802",Katy Perry,Prismatic World Tour,2014–2015,151,"$1,350,993",[19]
13,14,1,1[20],"$200,000,000","$299,676,265",Cher,Living Proof: The Farewell Tour ‡[21][a],2002–2005,325,"$615,385",[20]
14,15,2[c],2[c],"$194,000,000","$281,617,035",Madonna,Confessions Tour,2006,60,"$3,233,333",[5]
15,16,Unknown,Unknown,"$184,000,000","$227,452,347",Pink,The Truth About Love Tour,2013–2014,142,"$1,295,775",[22]
16,17,Unknown,Unknown,"$170,000,000","$213,568,571",Lady Gaga,Born This Way Ball,2012–2013,98,"$1,734,694",[d]
17,18,Unknown,Unknown,"$169,800,000","$207,046,755",Madonna,Rebel Heart Tour,2015–2016,82,"$2,070,732",[4]
18,19,Unknown,Unknown,"$167,700,000[e]","$204,486,106",Adele,Adele Live 2016,2016–2017,121,"$1,385,950",[25]
19,20,Unknown,Unknown,"$150,000,000","$185,423,109",Taylor Swift,The Red Tour,2013–2014,86,"$1,744,186",[26]

Untuk membersikan data pada kolom All Time Peak dengan menghapus angka yang di apit oleh tanda kurung siku([])

In [ ]:
df['All Time Peak'] = df['All Time Peak'].str.replace(r'\[\d+\]', '', regex=True).astype(str)
df

,Rank,Peak,All Time Peak,Actual gross,Adjusted gross (in 2022 dollars),Artist,Tour title,Year(s),Shows,Average gross,Ref.
0,1,1,1,"$780,000,000","$780,000,000",Taylor Swift,The Eras Tour †,2023–2024,56,"$13,928,571",[1]
1,2,1,1,"$579,800,000","$579,800,000",Beyoncé,Renaissance World Tour,2023,56,"$10,353,571",[3]
2,3,1,1,"$411,000,000","$560,622,615",Madonna,Sticky & Sweet Tour ‡[4][a],2008–2009,85,"$4,835,294",[6]
3,4,2,2,"$397,300,000","$454,751,555",Pink,Beautiful Trauma World Tour,2018–2019,156,"$2,546,795",[7]
4,5,2,2,"$345,675,146","$402,844,849",Taylor Swift,Reputation Stadium Tour,2018,53,"$6,522,173",[8]
5,6,2,2,"$305,158,363","$388,978,496",Madonna,The MDNA Tour,2012,88,"$3,467,709",[9]
6,7,2,2,"$280,000,000","$381,932,682",Celine Dion,Taking Chances World Tour,2008–2009,131,"$2,137,405",[11]
7,7,Unknown,Unknown,"$257,600,000","$257,600,000",Pink,Summer Carnival †,2023–2024,41,"$6,282,927",[12]
8,9,Unknown,Unknown,"$256,084,556","$312,258,401",Beyoncé,The Formation World Tour,2016,49,"$5,226,215",[13]
9,10,Unknown,Unknown,"$250,400,000","$309,141,878",Taylor Swift,The 1989 World Tour,2015,85,"$2,945,882",[14]
10,11,Unknown,Unknown,"$229,100,000[b]","$283,202,896",Beyoncé,The Mrs. Carter Show World Tour,2013–2014,132,"$1,735,606",[15][16]
11,12,Unknown,Unknown,"$227,400,000","$295,301,479",Lady Gaga,The Monster Ball Tour *,2009–2011,203,"$1,118,227",[18]
12,13,Unknown,Unknown,"$204,000,000","$251,856,802",Katy Perry,Prismatic World Tour,2014–2015,151,"$1,350,993",[19]
13,14,1,1,"$200,000,000","$299,676,265",Cher,Living Proof: The Farewell Tour ‡[21][a],2002–2005,325,"$615,385",[20]
14,15,2[c],2,"$194,000,000","$281,617,035",Madonna,Confessions Tour,2006,60,"$3,233,333",[5]
15,16,Unknown,Unknown,"$184,000,000","$227,452,347",Pink,The Truth About Love Tour,2013–2014,142,"$1,295,775",[22]
16,17,Unknown,Unknown,"$170,000,000","$213,568,571",Lady Gaga,Born This Way Ball,2012–2013,98,"$1,734,694",[d]
17,18,Unknown,Unknown,"$169,800,000","$207,046,755",Madonna,Rebel Heart Tour,2015–2016,82,"$2,070,732",[4]
18,19,Unknown,Unknown,"$167,700,000[e]","$204,486,106",Adele,Adele Live 2016,2016–2017,121,"$1,385,950",[25]
19,20,Unknown,Unknown,"$150,000,000","$185,423,109",Taylor Swift,The Red Tour,2013–2014,86,"$1,744,186",[26]

Untuk membersikan data pada kolom Tour Title dengan menghapus simbol simbol yang ada di belakang judul

In [ ]:
df['Tour title'] = df['Tour title'].str.replace(r'\s‡\[\d+\]\[\w+\]', '', regex=True)
df

,Rank,Peak,All Time Peak,Actual gross,Adjusted gross (in 2022 dollars),Artist,Tour title,Year(s),Shows,Average gross,Ref.
0,1,1,1,"$780,000,000","$780,000,000",Taylor Swift,The Eras Tour †,2023–2024,56,"$13,928,571",[1]
1,2,1,1,"$579,800,000","$579,800,000",Beyoncé,Renaissance World Tour,2023,56,"$10,353,571",[3]
2,3,1,1,"$411,000,000","$560,622,615",Madonna,Sticky & Sweet Tour,2008–2009,85,"$4,835,294",[6]
3,4,2,2,"$397,300,000","$454,751,555",Pink,Beautiful Trauma World Tour,2018–2019,156,"$2,546,795",[7]
4,5,2,2,"$345,675,146","$402,844,849",Taylor Swift,Reputation Stadium Tour,2018,53,"$6,522,173",[8]
5,6,2,2,"$305,158,363","$388,978,496",Madonna,The MDNA Tour,2012,88,"$3,467,709",[9]
6,7,2,2,"$280,000,000","$381,932,682",Celine Dion,Taking Chances World Tour,2008–2009,131,"$2,137,405",[11]
7,7,Unknown,Unknown,"$257,600,000","$257,600,000",Pink,Summer Carnival †,2023–2024,41,"$6,282,927",[12]
8,9,Unknown,Unknown,"$256,084,556","$312,258,401",Beyoncé,The Formation World Tour,2016,49,"$5,226,215",[13]
9,10,Unknown,Unknown,"$250,400,000","$309,141,878",Taylor Swift,The 1989 World Tour,2015,85,"$2,945,882",[14]
10,11,Unknown,Unknown,"$229,100,000[b]","$283,202,896",Beyoncé,The Mrs. Carter Show World Tour,2013–2014,132,"$1,735,606",[15][16]
11,12,Unknown,Unknown,"$227,400,000","$295,301,479",Lady Gaga,The Monster Ball Tour *,2009–2011,203,"$1,118,227",[18]
12,13,Unknown,Unknown,"$204,000,000","$251,856,802",Katy Perry,Prismatic World Tour,2014–2015,151,"$1,350,993",[19]
13,14,1,1,"$200,000,000","$299,676,265",Cher,Living Proof: The Farewell Tour,2002–2005,325,"$615,385",[20]
14,15,2[c],2,"$194,000,000","$281,617,035",Madonna,Confessions Tour,2006,60,"$3,233,333",[5]
15,16,Unknown,Unknown,"$184,000,000","$227,452,347",Pink,The Truth About Love Tour,2013–2014,142,"$1,295,775",[22]
16,17,Unknown,Unknown,"$170,000,000","$213,568,571",Lady Gaga,Born This Way Ball,2012–2013,98,"$1,734,694",[d]
17,18,Unknown,Unknown,"$169,800,000","$207,046,755",Madonna,Rebel Heart Tour,2015–2016,82,"$2,070,732",[4]
18,19,Unknown,Unknown,"$167,700,000[e]","$204,486,106",Adele,Adele Live 2016,2016–2017,121,"$1,385,950",[25]
19,20,Unknown,Unknown,"$150,000,000","$185,423,109",Taylor Swift,The Red Tour,2013–2014,86,"$1,744,186",[26]

In [ ]:
df['Tour title'] = df['Tour title'].str.replace(r'†', '', regex=True).str.lower()
df

,Rank,Peak,All Time Peak,Actual gross,Adjusted gross (in 2022 dollars),Artist,Tour title,Year(s),Shows,Average gross,Ref.
0,1,1,1,"$780,000,000","$780,000,000",Taylor Swift,the eras tour,2023–2024,56,"$13,928,571",[1]
1,2,1,1,"$579,800,000","$579,800,000",Beyoncé,renaissance world tour,2023,56,"$10,353,571",[3]
2,3,1,1,"$411,000,000","$560,622,615",Madonna,sticky & sweet tour,2008–2009,85,"$4,835,294",[6]
3,4,2,2,"$397,300,000","$454,751,555",Pink,beautiful trauma world tour,2018–2019,156,"$2,546,795",[7]
4,5,2,2,"$345,675,146","$402,844,849",Taylor Swift,reputation stadium tour,2018,53,"$6,522,173",[8]
5,6,2,2,"$305,158,363","$388,978,496",Madonna,the mdna tour,2012,88,"$3,467,709",[9]
6,7,2,2,"$280,000,000","$381,932,682",Celine Dion,taking chances world tour,2008–2009,131,"$2,137,405",[11]
7,7,Unknown,Unknown,"$257,600,000","$257,600,000",Pink,summer carnival,2023–2024,41,"$6,282,927",[12]
8,9,Unknown,Unknown,"$256,084,556","$312,258,401",Beyoncé,the formation world tour,2016,49,"$5,226,215",[13]
9,10,Unknown,Unknown,"$250,400,000","$309,141,878",Taylor Swift,the 1989 world tour,2015,85,"$2,945,882",[14]
10,11,Unknown,Unknown,"$229,100,000[b]","$283,202,896",Beyoncé,the mrs. carter show world tour,2013–2014,132,"$1,735,606",[15][16]
11,12,Unknown,Unknown,"$227,400,000","$295,301,479",Lady Gaga,the monster ball tour *,2009–2011,203,"$1,118,227",[18]
12,13,Unknown,Unknown,"$204,000,000","$251,856,802",Katy Perry,prismatic world tour,2014–2015,151,"$1,350,993",[19]
13,14,1,1,"$200,000,000","$299,676,265",Cher,living proof: the farewell tour,2002–2005,325,"$615,385",[20]
14,15,2[c],2,"$194,000,000","$281,617,035",Madonna,confessions tour,2006,60,"$3,233,333",[5]
15,16,Unknown,Unknown,"$184,000,000","$227,452,347",Pink,the truth about love tour,2013–2014,142,"$1,295,775",[22]
16,17,Unknown,Unknown,"$170,000,000","$213,568,571",Lady Gaga,born this way ball,2012–2013,98,"$1,734,694",[d]
17,18,Unknown,Unknown,"$169,800,000","$207,046,755",Madonna,rebel heart tour,2015–2016,82,"$2,070,732",[4]
18,19,Unknown,Unknown,"$167,700,000[e]","$204,486,106",Adele,adele live 2016,2016–2017,121,"$1,385,950",[25]
19,20,Unknown,Unknown,"$150,000,000","$185,423,109",Taylor Swift,the red tour,2013–2014,86,"$1,744,186",[26]

In [ ]:
df['Tour title'] = df['Tour title'].str.replace(r'\[\w+\]', '', regex=True)
df

,Rank,Peak,All Time Peak,Actual gross,Adjusted gross (in 2022 dollars),Artist,Tour title,Year(s),Shows,Average gross,Ref.
0,1,1,1,"$780,000,000","$780,000,000",Taylor Swift,the eras tour,2023–2024,56,"$13,928,571",[1]
1,2,1,1,"$579,800,000","$579,800,000",Beyoncé,renaissance world tour,2023,56,"$10,353,571",[3]
2,3,1,1,"$411,000,000","$560,622,615",Madonna,sticky & sweet tour,2008–2009,85,"$4,835,294",[6]
3,4,2,2,"$397,300,000","$454,751,555",Pink,beautiful trauma world tour,2018–2019,156,"$2,546,795",[7]
4,5,2,2,"$345,675,146","$402,844,849",Taylor Swift,reputation stadium tour,2018,53,"$6,522,173",[8]
5,6,2,2,"$305,158,363","$388,978,496",Madonna,the mdna tour,2012,88,"$3,467,709",[9]
6,7,2,2,"$280,000,000","$381,932,682",Celine Dion,taking chances world tour,2008–2009,131,"$2,137,405",[11]
7,7,Unknown,Unknown,"$257,600,000","$257,600,000",Pink,summer carnival,2023–2024,41,"$6,282,927",[12]
8,9,Unknown,Unknown,"$256,084,556","$312,258,401",Beyoncé,the formation world tour,2016,49,"$5,226,215",[13]
9,10,Unknown,Unknown,"$250,400,000","$309,141,878",Taylor Swift,the 1989 world tour,2015,85,"$2,945,882",[14]
10,11,Unknown,Unknown,"$229,100,000[b]","$283,202,896",Beyoncé,the mrs. carter show world tour,2013–2014,132,"$1,735,606",[15][16]
11,12,Unknown,Unknown,"$227,400,000","$295,301,479",Lady Gaga,the monster ball tour *,2009–2011,203,"$1,118,227",[18]
12,13,Unknown,Unknown,"$204,000,000","$251,856,802",Katy Perry,prismatic world tour,2014–2015,151,"$1,350,993",[19]
13,14,1,1,"$200,000,000","$299,676,265",Cher,living proof: the farewell tour,2002–2005,325,"$615,385",[20]
14,15,2[c],2,"$194,000,000","$281,617,035",Madonna,confessions tour,2006,60,"$3,233,333",[5]
15,16,Unknown,Unknown,"$184,000,000","$227,452,347",Pink,the truth about love tour,2013–2014,142,"$1,295,775",[22]
16,17,Unknown,Unknown,"$170,000,000","$213,568,571",Lady Gaga,born this way ball,2012–2013,98,"$1,734,694",[d]
17,18,Unknown,Unknown,"$169,800,000","$207,046,755",Madonna,rebel heart tour,2015–2016,82,"$2,070,732",[4]
18,19,Unknown,Unknown,"$167,700,000[e]","$204,486,106",Adele,adele live 2016,2016–2017,121,"$1,385,950",[25]
19,20,Unknown,Unknown,"$150,000,000","$185,423,109",Taylor Swift,the red tour,2013–2014,86,"$1,744,186",[26]